.container h2 {
    color: #daa520;
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    font-size: 35px;
}

.container_cards {
    background-color: #f3f3f3;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}